@charset "utf-8";

body {
	font-family: helvetica, sans-serif;
	width: 100%;
	padding: 30px;
}

label {
	font-weight: bold;  
}

div {
	padding: 5px 0px;
	margin: 5px 10px;
}

input[type="text"] {
	padding: 5px;
	width: 150px;
}
/* Hide the output paragraph until the user has submitted the form */

/* p {
	background: #FFC125;
	color: #5E2612;
	padding: 10px;
	visibility: hidden;
} */